# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Tutorial/CalculatorTutorial/.vs/CalculatorTutorial/v16
/Tutorial/CalculatorTutorial/CalculatorTutorial/Debug
*.vcxproj
*.filters
*.user
/Tutorial/CalculatorTutorial/Debug
*.sln
/Tutorial/DiceProbability/.vs/DiceProbability/v16
/Tutorial/DiceProbability/Debug
/Tutorial/DiceProbability/DiceProbability/Debug
/Tutorial/SwapFunction/.vs/SwapFunction/v16
/Tutorial/SwapFunction/Debug
/Tutorial/SwapFunction/SwapFunction/Debug
/Tutorial/SumArray/.vs/SumArray/v16
/Tutorial/SumArray/Debug
/Tutorial/SumArray/SumArray/Debug
/Tutorial/TypedefDays/.vs/TypedefDays/v16
/Tutorial/TypedefDays/Debug
/Tutorial/TypedefDays/TypedefDays/Debug
/Tutorial/ClassPoint/.vs/ClassPoint/v16/ipch/AutoPCH/289dcbdc61fee2a4
/Tutorial/ClassPoint/.vs/ClassPoint/v16
/Tutorial/ClassPoint/ClassPoint/Debug
/Tutorial/ClassPoint/Debug
/Tutorial/ListClass/.vs/ListClass/v16/ipch/AutoPCH/167ed64616ba03aa
/Tutorial/ListClass/.vs/ListClass/v16
/Tutorial/ConditionalStatement/.vs/ConditionalStatement/v16
/Tutorial/ConditionalStatement/ConditionalStatement/Debug
/Tutorial/ConditionalStatement/Debug
/Tutorial/DataStructs/.vs/DataStructs/v16
/Tutorial/DataStructs/DataStructs/Debug
/Tutorial/DataStructs/Debug
/Tutorial/Files/.vs/Files/v16
/Tutorial/Files/Debug
/Tutorial/Files/Files/Debug
/Tutorial/Files/Files/itsok
/Tutorial/Files/Files/nothello
/Tutorial/MultiFiles/.vs/MultiFiles/v16/ipch/AutoPCH
/Tutorial/MultiFiles/.vs/MultiFiles/v16
/Tutorial/MultiFiles/Debug
/Tutorial/MultiFiles/MultiFiles/Debug/MultiFiles.tlog
/Tutorial/MultiFiles/MultiFiles/Debug
/Tutorial/MultiFiles/MultiFiles/x64/Debug
/Tutorial/MultiFiles/x64/Debug
/Tutorial/IntroStructs/.vs/IntroStructs/v16
/Tutorial/IntroStructs/Debug
/Tutorial/IntroStructs/IntroStructs/Debug
