# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Tutorial/CalculatorTutorial/.vs/CalculatorTutorial/v16
/Tutorial/CalculatorTutorial/CalculatorTutorial/Debug
*.vcxproj
*.filters
*.user
/Tutorial/CalculatorTutorial/Debug
*.sln
/Tutorial/DiceProbability/.vs/DiceProbability/v16
/Tutorial/DiceProbability/Debug
/Tutorial/DiceProbability/DiceProbability/Debug
/Tutorial/SwapFunction/.vs/SwapFunction/v16
/Tutorial/SwapFunction/Debug
/Tutorial/SwapFunction/SwapFunction/Debug
/Tutorial/SumArray/.vs/SumArray/v16
/Tutorial/SumArray/Debug
/Tutorial/SumArray/SumArray/Debug
/Tutorial/TypedefDays/.vs/TypedefDays/v16
/Tutorial/TypedefDays/Debug
/Tutorial/TypedefDays/TypedefDays/Debug
/Tutorial/ClassPoint/.vs/ClassPoint/v16/ipch/AutoPCH/289dcbdc61fee2a4
/Tutorial/ClassPoint/.vs/ClassPoint/v16
/Tutorial/ClassPoint/ClassPoint/Debug
/Tutorial/ClassPoint/Debug
/Tutorial/ListClass/.vs/ListClass/v16/ipch/AutoPCH/167ed64616ba03aa
/Tutorial/ListClass/.vs/ListClass/v16
/Tutorial/ConditionalStatement/.vs/ConditionalStatement/v16
/Tutorial/ConditionalStatement/ConditionalStatement/Debug
/Tutorial/ConditionalStatement/Debug
/Tutorial/DataStructs/.vs/DataStructs/v16
/Tutorial/DataStructs/DataStructs/Debug
/Tutorial/DataStructs/Debug
/Tutorial/Files/.vs/Files/v16
/Tutorial/Files/Debug
/Tutorial/Files/Files/Debug
/Tutorial/Files/Files/itsok
/Tutorial/Files/Files/nothello
/Tutorial/MultiFiles/.vs/MultiFiles/v16/ipch/AutoPCH
/Tutorial/MultiFiles/.vs/MultiFiles/v16
/Tutorial/MultiFiles/Debug
/Tutorial/MultiFiles/MultiFiles/Debug/MultiFiles.tlog
/Tutorial/MultiFiles/MultiFiles/Debug
/Tutorial/MultiFiles/MultiFiles/x64/Debug
/Tutorial/MultiFiles/x64/Debug
/Tutorial/IntroStructs/.vs/IntroStructs/v16
/Tutorial/IntroStructs/Debug
/Tutorial/IntroStructs/IntroStructs/Debug
/Tutorial/OparatorOverloading/OparatorOverloading/Debug
/Tutorial/OparatorOverloading/Debug
/Tutorial/OparatorOverloading/.vs/OparatorOverloading/v16
/Ponteiros/Notas Ponteiros/.vs/Notas Ponteiros/v16/ipch/AutoPCH/a69f15901badf628
/Ponteiros/Notas Ponteiros/Debug
/Ponteiros/Notas Ponteiros/.vs/Notas Ponteiros/v16
/Ponteiros/Notas Ponteiros/Notas Ponteiros/Debug
/Ponteiros/Exercicios/.vs/Exercicios/v16
/Ponteiros/Exercicios/Debug
/Ponteiros/Exercicios/Exercicios/Debug
/Ponteiros/Aula_classes/Teste_Class/.vs/Teste_Class/v16/ipch/AutoPCH
/Classes/Exemplo/Exemplo_class/.vs/Exemplo_class/v16
/Classes/Exemplo/Exemplo_class/Debug
/Classes/Exemplo/Exemplo_class/Exemplo_class/Debug
/Classes/Exercícios/Ex6/Exe6/.vs/Exe6/v16
/Classes/Exercícios/Ex6/Exe6/Debug
/Classes/Exercícios/Ex6/Exe6/Exe6/Debug
/Classes/Exercícios/Calendar/Calendar/Calendar/Debug
/Classes/Exercícios/Calendar/Calendar/.vs/Calendar/v16
/Classes/Exercícios/Calendar/Calendar/Debug
/Classes/Exercícios/Login/LoginSysteam/.vs/LoginSysteam/v16
/Classes/Exercícios/Login/LoginSysteam/Debug
/Classes/Exercícios/Login/LoginSysteam/LoginSysteam/Debug
/Classes/Exercícios/Virtual_Friends/Virtuals_Friends/.vs/Virtuals_Friends/v16
/Classes/Exercícios/Virtual_Friends/Virtuals_Friends/Debug
/Classes/Exercícios/Virtual_Friends/Virtuals_Friends/Virtuals_Friends/Debug
/Classes/Exercícios/abstract/Exercises_abstract/.vs/Exercises_abstract/v16
/Classes/Exercícios/Cshape/Shape/.vs/Shape/v16
/Projeto/ControlRefri/.vs/ControlRefri/v16
/Projeto/ControlRefri/ControlRefri/Debug
/Projeto/ControlRefri/Debug
/AVR_arduino/arduino19_WR_files/in_and_outs/in_and_outs/Debug
/AVR_arduino/arduino19_WR_files/in_and_outs/in_and_outs.atsln
*.atsuo
*.DSN
*.PWI
*.DBK
/AVR_arduino/arduino19_WR_files/in_and_outs/in_and_outs/in_and_outs.cproj
/AVR_arduino/In_out_AVR/In_out_AVR/Debug
/AVR_arduino/In_out_AVR/In_out_AVR
/AVR_arduino/In_out_AVR
/PoolControler/PoolControler/.vs/PoolControler/v16
/PoolControler/PoolControler/PoolControler/Debug
/PoolControler/PoolControler/Debug
*.atsln
*.mk
PoolControler/PoolControler_AVR/PoolControler_AVR/PoolControler_AVR/Debug/Makefile
*.eep
*.elf
*.hex
*.lss
*.map
*.srec
*.xml
*.cppproj
